<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags" lang="pt-br">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Skeleton Form Page</title>
<meta name="description"
	content="Minimal Spring + Thymeleaf + Hibernate project developed by Loop - Engenharia de Computação." />
<meta name="author" content="Alexandre Lucchesi" />
<style>
label {
	float: left;
	width: 70px;
}

.fieldError {
	color: red;
	font-weight: bold;
}

.required {
	color: red;
}
</style>
</head>

<body>

	<h1>Form Sample</h1>

	<h2>Registration Form</h2>
	<!-- It's possible to bind an object (entities) directly to the form, using them as
		"form backing beans". -->
	<form th:action="@{/advancedForm}" th:object="${user}" method="post">
		<!-- ALTERNATIVE FORM: Show errors if any exist. -->
		<div>
			<ul th:if="${#fields.hasErrors('*')}">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
					is incorrect</li>
			</ul>
		</div>
		<p th:text="${status}">Status message...</p>
		<fieldset>
			<div>
				<label for="name" th:class="${#fields.hasErrors('name')} ? 'fieldError'">Name <span class="required">*</span>: </label>
				<input id="name" type="text" name="name"
					placeholder="Enter your name." th:field="*{name}" />
					<span th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}"></span>
			</div>
			<div>
				<label for="email" th:class="${#fields.hasErrors('email')} ? 'fieldError'">E-mail <span class="required">*</span>: </label>
				<input id="email" type="text" name="email"
					placeholder="Enter your e-mail." th:field="*{email}" />
					<span th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')}"></span>
			</div>
		</fieldset>

		<input type="submit" />
	</form>

	<p>
		Minimal Spring + Thymeleaf + Hibernate project developed by <strong>Loop
			- Engenharia de Computação.</strong>
	</p>

</body>

</html>
