<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags" lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Skeleton i18n Page</title>
    <meta name="description" content="Minimal Spring + Thymeleaf + Hibernate project developed by Loop - Engenharia de Computação." />
    <meta name="author" content="Alexandre Lucchesi" />
</head>

<body>

	<h1 th:text="#{welcome.message}">Hello World!</h1>
	
	<p>The welcome message above has been ported and now it supports various languages. Currently, it can be seen in both Portuguese (Brazil) and English. You can select one by clicking the links below:</p>
	
	<div><a href="?lang=pt_BR">Portuguese</a> | <a href="?lang=en_US">English</a></div>
	
	<p>Minimal Spring + Thymeleaf + Hibernate project developed by <strong>Loop - Engenharia de Computação.</strong></p>
	
</body>

</html>