<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags" lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Skeleton i18n Page</title>
    <meta name="description" content="Minimal Spring + Thymeleaf + Hibernate project developed by Loop - Engenharia de Computação." />
    <meta name="author" content="Alexandre Lucchesi" />
</head>

<body>

<h1>Welcome to the Spring MVC Skeleton developed by Loop.</h1>

<p>Here are some examples so you can get started:</p>

<ul>
    <li><a th:href="@{/simpleForm}">Simple Form</a></li>
    <li><a th:href="@{/advancedForm}">Advanced Form</a></li>
    <li><a th:href="@{/i18n}">Internationalization</a></li>
    <li><a th:href="@{/responseBody}">Response Body</a></li>
</ul>

<p>Minimal Spring + Thymeleaf + Hibernate project developed by <strong>Loop - Engenharia de Computação.</strong></p>

</body>

</html>